*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main{
  padding: 0px;
}
header{
  padding: 3em;
  display: block;
  background-color:rgba(0, 0, 0, 0.993);
}
nav{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(250, 235, 215, 0.61);
  font-family: 'Satisfy', cursive;
}
nav a{
  text-decoration: none;
  color: white;
  padding: 20px;
}
h1{
  text-align: center;
  font-family: 'Blaka Hollow', cursive;
  font-size: 90px;
  padding: 10px;
  padding-bottom: 90px;
  color: aliceblue;
}
header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
body{
  background-color:gray;
}
section{
  margin-bottom: 100px;
}
.container{
  padding: 30px;
  margin: 60px;
  max-width: 1200px;
}
.container h2{
  font-size: 30px;
  color: aliceblue;
  padding: 10px;
}
.container p{
  font-size: 20px;
  color: aliceblue;
  padding: 20px;
}
#about img {
	float: right;
	border-radius: 50%;
	width: 300px;
	height: 300px;
  margin-bottom: 20px;
}
h3{
  text-align: center;
  font-size: 50px;
  color: #ccc;
}
h4{
  text-align: center;
}
#skills{
  padding: 120px;
  margin-top: 300px;
  background-color: black;
}
#cards{
  display: flex;
  justify-content: space-evenly;
}
.card{
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}
.card:hover .box {
    transform: scale(1.1);
}
.card:hover .box-body {
    opacity: 1;
    transform: translateY(0);
  }
.box{
  height: 60%;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
.box-body {
  height: 40%;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.box-body h4 {
    margin-top: 0;
  }
#project{
  padding: 20px;
  display: flex;
  justify-content: center;
}
h2,h3,h5{
  font-family: 'Russo One', sans-serif;
}
#project img{
  width: 600px;
  padding: 20px;
}
h5{
  font-size: 50px;
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 5px;
}
form{
  padding: 20px;
}
form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

form textarea {
  height: 100px;
}

form button[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0050a3;
}
